* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: url(https://imgur.com/xHeqbYu.jpg);
  background-size: cover;
  position: relative;
  font-family: 'Lobster', cursive;
  max-width: 100%;
}

.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

/* BOARD */
.board h1 {
  font-size: 80px;
  text-align: center;
  color: #007CCC;
}

.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.create-column {
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}

/* COLUMN */
.column {
  order: 1;
  width: 250px;
  min-width: 150px;
  min-height: 50vh;
  background-color: #FAFFB6;
  margin: 0 4px;
  list-style: none;
  position: relative;
  text-align: center;
  display: inline-block
}

.column-add-card {
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}

/* CARD */
.card {
  box-sizing: border-box;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.card-description {
  margin: 0 auto;
  padding-right: 22px;
}

.card-list {
  list-style: none;
  margin: 5px 0 5px 5px;
  padding: 0px;
}

.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}

@media screen and (max-width: 768px) {
  
  .column-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .column {
    margin-top: 5px;
  }
}
